<div ng-include="'nav/nav-menu.html'"></div>

<div class="container">
    <div ng-repeat="result in results">
        <!--<ul>-->
            <!--<li>Name : {{result.name}} , Votes : {{result.votes}} </li>-->
        <!--</ul>-->
    </div>
</div>