<div ng-include="'nav/nav-menu.html'"></div>

<div class="container">
    <div class="">
        <!--<div class="panel-heading">-->
        <!--<h5 class="panel-title">Current Results</h5>-->
        <!--</div>-->
        <div class="row">
            <!--Current results panel with graph-->
            <div class="col-sm-6 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h5 class="panel-title">Top Candidates</h5>
                    </div>
                    <div class="panel-body results-chart" id="results"></div>
                </div>
            </div>
            <!--Top candidates panel-->
            <div class="col-sm-6 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h5 class="panel-title">Top Candidates</h5>
                    </div>
                    <div class="panel-body results-chart">
                        <ul class="list-group" ng-repeat="result in results | orderBy : '-votes'">
                            <li class="list-group-item">
                                <span class="badge">{{result.votes}}</span>
                                {{result.name}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title">Existing Polls</h5>
                </div>
                <div class="panel-body">
                    <table class="table table-striped ">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Poll ID</th>
                            <th>Poll Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="poll in polls | limitTo : 10">
                        <tr class="{{poll.poll_status}}">
                            <td>{{poll.poll_no}}</td>
                            <td>{{poll.poll_id}}</td>
                            <td>{{poll.poll_name}}</td>
                            <td>{{poll.start_date.toString().substr(0,10)}}</td>
                            <td>{{poll.end_date.toString().substr(0,10)}}</td>
                            <td>{{poll.poll_status}}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                           href="#collapseOne">
                            Collapsible Group Item #1
                        </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            Anim pariatur cliche...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
