<div class="container">
    <div class="logo"></div>
    <div class="alert alert-dismissible alert-danger">
        <a type="button" class="close" data-dismiss="alert" href="#/">×</a>
        <strong>Oh snap!</strong> <a href="#/" class="alert-link">Change a few things up</a> and try submitting again.
    </div>
    </nav>
</div>