<div class="container">
    <div class="login-content">
        <div class="logo">
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Welcome to Quirk Democrazy.</h3>
            </div>
            <div class="panel-body">
                <form  class="form-horizontal" name="loginForm" ng-submit="authenticate()" novalidate>
                    <fieldset>
                        <legend>Sign In</legend>
                        <div class="form-group">
                            <label for="userName" class="col-lg-2 control-label">UserName</label>

                            <div class="col-lg-10">
                                <input type="text" id="userName" name="userName" placeholder="User Name"
                                       ng-required="true" ng-model="credentials.userName" class="form-control"></div>
                            <span class="col-lg-10 col-lg-offset-5 error-message" ng-show="loginForm.userName.$dirty && loginForm.userName.$error.required">
                                Username cannot be empty.
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="userPassword" class="col-lg-2 control-label">Password</label>

                            <div class="col-lg-10">
                                <input type="password" id="userPassword" name="userPassword" placeholder="User Password"
                                       ng-required="true" ng-model="credentials.userPassword" class="form-control" ng-minlength="6"></div>
                            <span class="col-lg-10 col-lg-offset-5 error-message" ng-show="loginForm.userPassword.$error.required && loginForm.userPassword.$dirty">
                                Password cannot be empty.
                            </span>
                            <span class="col-lg-10 col-lg-offset-5 error-message" ng-show="loginForm.userPassword.$dirty && loginForm.userPassword.$invalid">
                                Password password has to be at lease 6 chars.
                            </span>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-5">
                                <button type="reset" style="margin-right:20px" class="btn btn-default">Cancel</button>
                                <button type="submit" class="btn btn-primary"  ng-disabled="!loginForm.userName.$dirty">{{buttonText}}</button>
                            </div>
                        </div>

                            <div ng-show="invalidLogin" class="alert alert-danger" role="alert" col-lg-5 col-lg-offset-5>
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>

                                <span>{{status_message}}</span>
                            </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>