<div class="container">
    <div class="logo"></div>
    <nav class="navbar navbar-default nav-bar-additions">
        <div class="container-fluid">
        </div><div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li>
                <a href="#/dashboard">Home<span class="sr-only">(current)</span></a></li>
            <li><a href="#/current-results">View Results</a></li>
            <li><a href="#/existing-polls">View Existing Polls</a></li>
            <li><a href="#/create-new-poll">Create New Poll</a></li><li class="dropdown"><a href="" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">More Options<span class="caret"></span></a>
            <ul role="menu" class="dropdown-menu">
                <li class="active"><a href="#/ideas-wall">Ideas Wall<span class="sr-only">(current)</span></a></li>
                <li><a href="#/feed-back">Feedback</a></li>
            </ul>
        </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/">Sign Out : {{user.user}}</a></li>
        </ul>
    </div>
    </nav>
</div>