/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 May 2015, 5:31:55 PM
    Author     : Trevor Malovhele
*/
/*.content{*/
/*margin-top: -40px;*/
/*margin-bottom: -10px;*/
/*margin-left: 15%;*/
/*}*/
.login-content {
    margin: 0 auto;
    max-width: 550px;
}

.logo {
    background: url('../../images/quirk-logo-small.png') no-repeat;
    height: 134px;
    z-index: 1;
    margin: -25px;
}
.nav-bar-additions{
    margin-bottom: 2px !important;
}
.results-chart {
    min-width: 310px;
    height: 400px;
    margin: 0 auto;
}
.panel-heading .panel-title-right{
    position: relative;
    right: 0px;
    top: 0px;
}
.error-message{
    color: red;
}
footer {
    position: relative;
    bottom: 0;
    font-size: .85em;
    color: #ffffff;
    background-color: #31a5e7;
    width: auto;
    margin: 0 auto;
    padding: 5px;
    max-width: 1140px;
}

@media screen  and (min-width: 320px) and (max-width: 480px) {
    .content {
        margin-top: -40px;
        margin-bottom: -10px;
        margin-left: 5%;
    }
}

@media screen  and (min-width: 481px) {
    .content {
        margin-top: -40px;
        margin-bottom: -10px;
        margin-left: 15%;
    }
}